<!-- Sidebar -->
<div id="sidebar" class="flex flex-col">
  <div class="menu-logo">
    <i class="fa fa-eye"></i>
    <span class="menu-text">Logvision</span>
  </div>

  <div class="menu-item">
    <i class="fa-regular fa-bell"></i>
    <span class="menu-text">Home</span>
  </div>

  <div class="menu-item expand">
    <i class="fa fa-chevron-down"></i>
    <span class="menu-text">Dashboards</span>
    <!-- Submenu exibido ao passar o mouse -->
    <div class="submenu">
      <div class="menu-item">
        <i class="fa-regular fa-flag"></i>
        <span class="menu-text">Geral</span>
      </div>
      <div class="menu-item">
        <i class="fa fa-pie-chart"></i>
        <span class="menu-text">--</span>
      </div>
    </div>
  </div>

  <div class="menu-item">
    <i class="fa-regular fa-envelope"></i>
    <span class="menu-text">Downdetector</span>
  </div>

  <div class="menu-item">
    <i class="fa-regular fa-bar-chart"></i>
    <span class="menu-text">Reports</span>
  </div>

  <div class="menu-item">
    <i class="fa fa-cog"></i>
    <span class="menu-text">Settings</span>
  </div>
</div>
